.root {
    -fx-font-family: 'Inter', 'Arial', sans-serif;
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: 800;
}

.info_container {
    -fx-background-color: #ECF4E8;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 10 0 10 0;
    -fx-border-width: 2 2 2 2;
}

.info_container Label {
    -fx-font-size: 14px;
}