.root {
    -fx-font-family: 'Inter', 'Arial', sans-serif;
    -fx-background-color: #ECF4E8;
}

.login-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 20, 0, 0, 5);
    -fx-padding: 40px;
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-alignment: right;
}

.login-title {
    -fx-font-size: 28px;
    -fx-font-weight: 800;
    -fx-text-fill: #051209;
    -fx-alignment: center;
}

.form-label {
    -fx-font-size: 14px;
    -fx-font-weight: 600;
    -fx-text-fill: #051209;
    -fx-padding: 10px 0 5px 0;
}

.text-field, .password-field {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 10px 12px;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #ABE7B2f;
    -fx-border-width: 1.5px;
}

.sign-in-button {
    -fx-background-color: linear-gradient(to right, #CBF3BB, #ABE7B2);
    -fx-text-fill: #051209;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-background-radius: 8px;
    -fx-padding: 12px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(76, 175, 80, 0.2), 10, 0, 0, 4);
}

.sign-in-button:hover {
    -fx-background-color: #93BFC7;
}

.hyperlink {
    -fx-font-size: 14px;
    -fx-text-fill: #007bff;
    -fx-border-width: 0;
    -fx-font-weight: 600;
}

.hyperlink:hover {
    -fx-underline: true;
}

.check-box {
    -fx-font-size: 14px;
    -fx-text-fill: #344054;
}

.check-box .box {
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: #d0d5dd;
}

.check-box:selected .mark {
    -fx-background-color: #4CAF50;
}

.account-selector {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 3px 12px;
}

.account-selector:focused {
    -fx-border-color: #ABE7B2;
    -fx-border-width: 1.5px;
}

.login_logo_container {
    -fx-font-family: 'Inter', 'Arial', sans-serif;
    -fx-background-color: linear-gradient(to right, #93BFC7, #ECF4E8);
    -fx-alignment: center;
}

.login_logo_container Text {
    -fx-font-size: 2em;
    -fx-font-weight: 800;
    -fx-fill: #000000;
}

