.root {
    -fx-font-family: 'Inter', 'Arial', sans-serif;
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.main_stat_container {
    -fx-font-size: 14px;
    -fx-background-color: #ECF4E8;
    -fx-background-radius: 10;
}

.main_stat_container TextField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 5px 5px;
}

.main_stat_container ComboBox {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 3px 12px;
}

.main_stat_container ComboBox:focused {
    -fx-border-color: #ABE7B2;
    -fx-border-width: 1.5px;
}

.main_stat_container DatePicker {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
}

.main_stat_container Button {
    -fx-background-color: #CBF3BB;
    -fx-text-fill: #051209;
    -fx-font-size: 14px;
    -fx-alignment: center_left;
    -fx-font-weight: 100;
    -fx-pref-height: 40;
    -fx-background-radius: 10;
}

.main_stat_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #93BFC7;
}

.lopnv_stat_container {
    -fx-font-size: 14px;
    -fx-background-color: #ECF4E8;
    -fx-background-radius: 10;
}

.lopnv_stat_container ChoiceBox {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 3px 12px;
}

.lopnv_stat_container ChoiceBox:focused {
    -fx-border-color: #ABE7B2;
    -fx-border-width: 1.5px;
}

.table_view {
    -fx-background-color: #ECF4E8;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #93BFC7;
    -fx-border-radius: 2;
}

.table_view .column-header {
    -fx-background-color: #ABE7B2;
    -fx-background-radius: 2 2 2 2;
    -fx-font-size: 14px;
    -fx-font-weight: 100;
}

.table_view Text {
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-font-weight: 100;
}

.lopnv_stat_container TextField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 5px 5px;
}

.lopnv_stat_container Button {
    -fx-background-color: #CBF3BB;
    -fx-text-fill: #051209;
    -fx-font-size: 14px;
    -fx-alignment: center_left;
    -fx-font-weight: 100;
    -fx-pref-height: 35;
    -fx-background-radius: 10;
}

.lopnv_stat_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #93BFC7;
}