.root {
    -fx-font-family: 'Inter', 'Arial', sans-serif;
    -fx-background-color: #FFFFFF;
}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.department_container {
    -fx-font-size: 14px;
    -fx-background-color: #ECF4E8;
    -fx-background-radius: 10;
}

.department_container TextField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 5px 5px;
}

.main_view_container {
    -fx-font-size: 14px;
    -fx-background-color: #ECF4E8;
    -fx-background-radius: 10;
}

.main_view_container Button {
    -fx-background-color: #CBF3BB;
    -fx-text-fill: #051209;
    -fx-font-size: 14px;
    -fx-alignment: center_left;
    -fx-font-weight: 100;
    -fx-pref-height: 40;
    -fx-background-radius: 10;
}

.main_view_container Button:hover {
    -fx-cursor: hand;
    -fx-background-color: #93BFC7;
}

.main_view_container TextField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
    -fx-border-color: #d0d5dd;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
    -fx-padding: 5px 5px;
}

.department_table {
    -fx-background-color: #ECF4E8;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: #93BFC7;
    -fx-border-radius: 2;
}

.department_table .column-header {
    -fx-background-color: #ABE7B2;
    -fx-background-radius: 2 2 2 2;
    -fx-font-size: 14px;
    -fx-font-weight: 100;
}

.department_table Text {
    -fx-font-size: 14px;
    -fx-alignment: center-left;
    -fx-font-weight: 100;
}